#dashboard{
  display:flex;
  align-items: center;
  justify-content: center;
  gap:5vw;
}

#robot-data{
  display: flex;
  overflow-x: hidden;
  overflow-y: scroll;
  height:50vh;
  width:50vw;
  padding:1.5rem;
  outline: 5px solid blue;
}

#robot-data h1{
  font-size: 1.5rem;
  margin:0;
  font-style: italic;
}


#robot-data h2{
  font-size: 1.25rem;
  margin:0;
}

aside{
  display:flex;
  flex-direction: column;
  outline: 5px solid blue;
  padding:1rem;
}


